#!/bin/bash
#
# This is an example cron file for periodic scheduled ments. 

# Nerf any color coded garbage you have in your shell stuff
export TERM=${TERM:-dumb}

# Define the home directory; the cron task should be run as the user that owns this 
HOME="/home/[user name]"

# Define the path required to make everything work properly
PATH="[required path]:$PATH"

# Read in the user's profile keychain - learn more about setting up
# a keychain at http://www.funtoo.org
source $HOME/.bash_profile 2>&1
source $HOME/.keychain/$HOSTNAME-sh 2>&1

# And now, the stir command; the recommended cron command is 
# stir --automate 
#
# The deprecated mode to run from a cron is as follows
# stir --force --update --quiet (or -Fuq *cough* in short form)
#
# Both commands are quite similar - the new --automate switch adds a flag to send
# an email update to clients upon a successful deployment, if you wish.
#
# Smart commits must be enabled, as there will be no human to write a 
# commit message
stir --automate [repo name]

# If you have problems with authenticating, you can debug what's up with a command like this: 
# ssh -Tvvv git@bitbucket.org
# ssh -Tvvv git@github.com
